VITE_BASE_URL=http://localhost:3000

# DATABASE
DATABASE_URL=your_database_connection_string

# BETTER AUTH
BETTER_AUTH_SECRET=your_secret_key
BETTER_AUTH_URL=http://localhost:3000

# ClOUDINARY
CLOUDINARY_URL=your_cloudinary_url
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_UPLOAD_PRESET=

# RESEND
RESEND_API_KEY=
TEST_EMAIL_OVERRIDE=

# STRIPE
STRIPE_SECRET_KEY=sk_test_
STRIPE_PUBLIC_KEY=pk_test_
STRIPE_WEBHOOK_SECRET=whsec_

# SENTRY
NUXT_PUBLIC_SENTRY_DSN=
SENTRY_AUTH_TOKEN=
