
# DATABASE
DATABASE_URL=your_database_connection_string

# BETTER AUTH
BETTER_AUTH_SECRET=your_secret_key
BETTER_AUTH_URL=http://localhost:3000

# ClOUDINARY
CLOUDINARY_URL=your_cloudinary_url
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_UPLOAD_PRESET=
